.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    color: #0a0a0a;
    line-height: 46px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.15s ease;
    &:hover {
        background-color: #ccc;
    }
    &-round {
        &--dark {
            border: 1px solid #fff;
            background-color: #0a0a0a;
            color: #ededed;
            &:hover {
                background-color: #ffffff17;
            }
        }
    }
}

.mob-menu {
    display: inline-block;
    font-size: 0;
    button {
        display: inline-block;
        padding: 0;
        background-color: transparent;
        border: 0;
        font-size: 0;

        span {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 0;
            &::before,
            &::after {
                position: absolute;
                left: 50%;
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #dedede;
                transition: 0.23s ease;
                transform: translateX(-50%);
            }
            &::before {
                top: 4px;
            }
            &::after {
                top: 13px;
            }
        }

        &.active {
            span {
                &::before {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &::after {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .btn {
        padding: 0 10px;
        font-size: 12px;
        line-height: 36px;
        img {
            width: 14px;
        }
    }
}
