.detail {
    &__title {
        font-size: 58px;
        font-weight: 700;
        line-height: 1.24;
        color: #fff;
        text-align: center;
        // background-image: linear-gradient(0deg, #757575 10%, #fff 100%);
        // background-clip: text;
        // -webkit-text-fill-color: #0000;
    }
    &__figure {
        position: relative;
        margin-top: 60px;
        padding: 30px;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        &::after {
            content: "";
            position: absolute;
            top: -1px;
            height: 1px;
            display: inline-block;
            width: 80%;
            background-image: linear-gradient(
                to right,
                #0000 5%,
                #fffc 35%,
                #fff 50%,
                #fffc 65%,
                #0000 95%
            );
        }
    }
    &__inner {
        position: relative;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: -20px;
            left: 50%;
            width: 10px;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            transform: translateX(-50%);
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: -17px;
            left: 50%;
            width: 4px;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            transform: translateX(-50%);
        }
    }

    &__info {
        // display: flex;
        // column-gap: 40px;
        max-width: 980px;
        margin: 0 auto;
        margin-top: 110px;
    }
    &__left {
        position: relative;
        flex-basis: 35%;
        flex-shrink: 0;
        h3 {
            font-size: 54px;
            font-weight: 700;
            line-height: 1.25;
            color: #fff;
        }
    }
    &__float {
        position: sticky;
    }
    &__right {
        margin-top: 80px;
        flex-basis: 65%;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            li {
                h4 {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    font-weight: 200;
                    color: #dedede;
                    line-height: 1.24;
                    span {
                        display: inline-block;
                        margin: 0 2px;
                        &::after {
                            content: "/";
                            display: inline-block;
                            margin-left: 3px;
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
                a {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 200;
                    color: #dedede;
                    line-height: 1.24;
                    img {
                        margin-left: 3px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    &__tag {
        margin-top: 18px;
        span {
            display: inline-block;
            margin: 0 5px;
            padding: 0 15px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #000;
            background-color: #dedede;
            border-radius: 12px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__content {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1280px) {
    .detail {
        &__title {
            font-size: 46px;
        }
        &__figure {
            margin-top: 40px;
        }
        &__info {
            margin-top: 80px;
            padding: 0 15px;
        }
        &__left {
            h3 {
                font-size: 42px;
            }
        }
        &__tag {
            margin-top: 14px;
        }
        &__right {
            margin-top: 40px;
            ul {
                li {
                    h4 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        &__content {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .detail {
        &__title {
            font-size: 28px;
        }
        &__figure {
            padding: 15px;
            border-radius: 30px;
        }
        &__inner {
            padding: 7px;
            border-radius: 15px;
            &::before {
                top: -14px;
            }
            &::after {
                top: -11px;
            }
        }
        &__info {
            margin-top: 40px;
        }
        &__left {
            h3 {
                font-size: 22px;
            }
        }
        &__tag {
            span {
                padding: 0 10px;
                font-size: 12px;
            }
        }
        &__right {
            margin-top: 20px;
            ul {
                row-gap: 30px;
                li {
                    h4 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        &__content {
            margin-top: 5px;
        }
    }
}
